:root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --main-color: #353430;
    --text-color: var(--main-color);
    --bg-color: #FFF1F7;
    --bg-text-color: #FF8DCB;
    --accent-color: var(--bg-text-color);
    --color-decor: var(--main-color);
    --rgb-color-theme-switch: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-image: url(../images/cover-image-light.png);
        --title-color: #FFC2E6;
        --main-color: #353430;
        --text-color: var(--main-color);
        --bg-color: #FFF1F7;
        --bg-text-color: #FF8DCB;
        --accent-color: var(--bg-text-color);
        --color-decor: var(--main-color);
        --rgb-color-theme-switch: rgba(50, 49, 45, 0.4);
    }

    .theme__rec {
        display: none;
    }
}

:root.theme-light .theme__rec {
    display: none;
}