/* здравствуйте! спасибо за проверку, рекомендации и ссылки. доброй ночи! */

.page {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--bg-color, #000028);
    padding-inline: var(--size-padding);
}

/* шапка и настройки декоративных элементов */

.header {
    position: relative;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    block-size: 100vh;
    min-block-size: 668px;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: var(--size-padding);
    right: 0;
    border-block-start: 1px solid var(--main-color, #FF0070);
    border-inline-end: 1px solid var(--main-color, #FF0070);
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: var(--size-padding);
    left: 0;
    border-block-end: 1px solid var(--main-color, #FF0070);
    border-inline-start: 1px solid var(--main-color, #FF0070);
    inline-size: 25px;
    block-size: 25px;
}

.theme__rec {
    position: absolute;
    top: var(--size-padding);
    right: var(--size-padding);

    display: flex;

    color: var(--main-color, #FF0070);
    text-transform: uppercase;
}

.theme__rec::after {
    content: "";
    display: block;
    place-self: center;
    margin-inline-start: var(--size-margin);
    block-size: 5px;
    inline-size: 5px;
    border: 4.5px solid var(--main-color, #FF0070);
    background-color: var(--main-color, #ff0070);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px;
}

/* меню с темами */

.header__theme-menu {
    justify-self: end;
    align-self: center;
    padding-block-start: var(--size-padding);
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap);
}

.header__theme-menu-button {
    background: none;
    border: none;

    color: var(--main-color, #FF0070);
    text-transform: lowercase;
    cursor: pointer;
    padding: 1px 13px;
    border-block-end: 1px solid transparent;
    transition: outline .6s linear;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--rgb-color-theme-switch);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--main-color, #FF0070);
}

.header__theme-menu-button_active {
    position: relative;
    outline: 1px solid var(--main-color, #FF0070);
    pointer-events: none;
}

.header__theme-menu-button.disabled {
    pointer-events: none;
}

/* декор заголовков и текста */

.header__title, .decorated {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--font-weight-bold);
    text-shadow: 4px 4px 0 var(--accent-color);
    line-height: 83%;
    color: var(--title-color);
}

.header__text {
    align-self: center;
    font-weight: var(--font-weight-bold, 700);
    line-height: 23.4px;
    margin-block-end: var(--size-margin);
}

.title-decor {
    background-color: var(--bg-text-color, #FF0070);
    color: var(--color-decor, #000028);
}




.main {
    display: grid;
    gap: calc(var(--size-gap) * 5);
    margin-block: calc(var(--size-margin) * 4);

    line-height: 23.4px;
}

/* настройка секций, блоков */

.section, .section__block {
    display: grid;
    gap: calc(var(--size-gap) * 2);
}

.section__title {
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold, 700);
    color: var(--main-color, #FF0070);
}

.card {
    display: grid;
    grid-template-rows: min-content auto;
    gap: var(--size-gap);
}

.card__title {
    font-size: var(--font-size);
}

.card__paragraph {
     color: var(--text-color, #FF0070);
 }

.content-help {
    display: grid;
    gap: calc(var(--size-gap) * 2);
    margin-block-start: var(--size-margin);
}

.card__list-item {
    display: grid;
    gap: var(--size-gap);
}

.fw-regular {
    font-weight: var(--font-weight-regular);
}

/* ссылки */

.card__paragraph a {
    text-decoration: none;
    text-shadow: 2px 1px 0 var(--accent-color);
    transition: border-bottom 1s linear;
}

.card__paragraph a:hover {
    border-bottom: 1px solid var(--text-color, #FF0070);
}

.card__paragraph a:focus {
    outline: none;
}

.card__paragraph a:focus-visible {
    outline: 1px solid var(--text-color, #FF0070);
}

/* галерея */

.gallery {
    display: grid;
    gap: var(--size-gap);
}

.section__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}


/* подвал */

.footer {
    position: relative;

    display: flex;
    justify-content: center;

    block-size: 100vh;
    min-block-size: 668px;
}

.footer__text {
    place-self: center;
}


/* медиа для планшета */

@media (width >= 768px) {
    .page {
        padding-inline: calc(var(--size-padding) * 2);
    }

    .decorated-zone::after {
        bottom: calc(var(--size-padding) * 2);
    }

    .theme__rec, .decorated-zone::before {
        top: calc(var(--size-padding) * 2);
    }

    .header__title {
        margin-inline-start: calc(-2 * var(--size-margin));
    }

    .decorated {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
        justify-self: end;
        inline-size: 50%;
        margin-block-end: calc(var(--size-margin) * 2);
    }

    .header__theme-menu {
        padding-block-start: 15px;
    }



    .main {
        margin-block: calc(var(--size-margin) * 6);

        gap: calc(var(--size-gap) * 8);
    }

    .section {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }

    .block-reasons {
        grid-column: 1 / -1;
    }

    .section-gallery {
        grid-template-columns: 1fr;
    }

    .section__block.gallery {
        margin-block-start: var(--size-margin);
    }
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: calc(var(--size-gap) * 2);
    }

    .section__image:nth-child(1) {
        grid-column: span 2;
        grid-row: 1;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .section__image:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .section__image:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / span 2;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .section__image:nth-child(4) {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .section__image:nth-child(5) {
        grid-column: span 2;
        grid-row: 3;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        display: flex;
        justify-self: center;
        align-self: start;
        padding-block-start: calc(var(--size-padding) * 2);
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .section-why {
        grid-template-columns:  1fr 2.06fr;
    }

    .block-reasons {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-help {
        grid-template-columns:  1fr 2.06fr;
    }
}